@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&display=swap");
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ballet {
  font-family: "Bona Nova", serif;
}

@media only screen and (max-width: 450px) {
  .App {
    max-width: 450px;
  }
  .home {
    max-width: 450px;
  }
  .hero {
    margin-top: 9.5rem;
    top: 0;
    right: 10px;
    font-size: 0.5rem;
    width: 20rem;
    opacity: 50%;
  }
  .hero div {
    padding: 0;
  }
  .discount {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .discount div {
    width: 100%;
    padding: 12px;
  }
}
